<table class="table">
  <thead>
    <tr>
      <th>Starts</th>
      <th>Movie</th>
      <th>Price</th>
      <th>Screen</th>
      <th>Tickets Sold</th>
      <th>Avaiable seats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.start.to_s(:time) %></td>
        <td><%= link_to show.movie.title, [:admin, show.movie] %></td>
        <td><%= number_to_currency show.price %></td>
        <td><%= show.screen_id %></td>
        <td><%= show.ticket_count %> </td>
        <td><%= show.avaiable_seats.length %></td>
        <td>
        <%= link_to 'Show', [:admin, show.movie, show], class: "btn btn-default btn-sm" %>
        <%= link_to 'Edit', edit_admin_movie_show_path(show.movie, show), class: "btn btn-default btn-sm" %>
        <%= link_to 'Destroy', [:admin, show.movie, show], method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>