<p id="notice"><%= notice %></p>

<p>
  <strong>Avaiable:</strong>
  <%= @admin_screen.avaiable %>
</p>

<p>
  <strong>Seats string:</strong>
  <%= @admin_screen.seats_string %>
</p>

<%= link_to 'Edit', edit_admin_screen_path(@admin_screen) %> |
<%= link_to 'Back', admin_screens_path %>
