<table class="table">
  <thead>
    <tr>
      <th>Starts</th>
      <th>Price</th>
      <th>Screen</th>
      <th>Avaiable seats</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.start.to_s(:short) %></td>
        <td><%= number_to_currency show.price %></td>
        <td><%= show.screen_id %></td>
        <td><%= show.avaiable_seats.length %></td>
        <td><%= link_to "Buy now", buy_tickets_path(show_id: show.id), class: "btn btn-primary btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>