<%= simple_form_for [:admin, @movie], html: { class: 'form-horizontal' } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :length %>
    <%= f.input :year %>
    <%= f.input :description %>
    <%= f.input :country %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
