<h2>Shows for movie</h1>

<table class="table">
  <thead>
    <tr>
      <th>starts</th>
      <th>price</th>
      <th>screen_id</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <tr>
        <td><%= show.start %></td>
        <td><%= show.price %></td>
        <td><%= show.screen_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h3>Add show</h3>
<%= simple_form_for [:admin, @movie, @new_show] do |f| %>

  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :start %>
    <%= f.input :price %>
    <%= f.input :screen_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
<br>