<h1 class="page-header">Movie : <%= @movie.title %></h1>

<p>
  <strong>Length:</strong>
  <%= @movie.length %> minutes
</p>

<p>
  <strong>Year:</strong>
  <%= @movie.year %>
</p>

<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>

<p>
  <strong>Country:</strong>
  <%= @movie.country %>
</p>

<%= render "shows_list" %>

<%= link_to 'Edit', edit_admin_movie_path(@movie) %> |
<%= link_to 'Back', admin_movies_path %>
